<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>eBusiness Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">
  

  <!-- Nivo Slider Theme -->
  <link href="css/nivo-slider-theme.css" rel="stylesheet">
<link href="fonts/css/all.css" rel="stylesheet">
  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="css/responsive.css" rel="stylesheet">
  <link href="fonts/css/all.css" rel="stylesheet">

  
</head>

<body data-spy="scroll" data-target="#navbar-example">
  



  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : 'your-app-id',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v6.0'
    });
  };
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default" style="background-color: #44B78B">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                  <div class="row"><div class="col-md-5"><img src="img/main.jpg"  width="100px"></div><div class="col-md-4"><h5 style="color:white;">Top Notch Assignments</h5></div></div>
                  <!-- Uncomment below if you prefer to use an image logo -->
                  <!-- <img src="img/logo.png" alt="" title=""> -->
								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active">
                    <a class="page-scroll" href="/">Home</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="/how">How It Works</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="/services">Services</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="/contact">Contact</a>
                  </li>
                   <li>
                    <a class="page-scroll" href="/about">About</a>
                  </li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->



  </header>
  <!-- header end -->

{{{body}}}



   <!-- Start Footer bottom Area -->
  <footer style="background-color: black">
    <div class="footer-area" style="background-color:black; color:white">
      <div class="container" style="color:white">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h4 style="color:#44B78B">Top Notch Assignments</h4>
                  <ul><li><a href="/" style="color:white">Home</a></li>
                    <lt><a href="/how" style="color:white">How It Works</a></lt>
                    <li><a href="/services" style="color:white"> Services</a></li>
                    <li><a href="/contact" style="color:white">Contact</a></li>
                    <li><a href="/about" style="color:white"> About</a> </li></ul>
                </div>



              

               
                
              </div>
            </div>
          </div>

               



                <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                    <h4 style="color:#44B78B">Resources</h4>
                  <ul><li>Terms and Conditions</li>
                    <lt>Privacy Policy</lt>
                    <li> Help Center</li>
                    <li>Blog</li>
                    </ul>
                </div>




              

               
               
              </div>
            </div>
          </div>



                <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                    <h4 style="color:#44B78B">Reach Us</h4>
                  <ul><li><i class="fab fa-facebook-messenger fa-2x"></i> <a href="https://www.facebook.com/topnotchassignments" style="color:white">https://www.facebook.com/topnotchassignments</a></li>
                    <lt> <i class="fab fa-whatsapp fa-2x"></i> 01315-092766</i></lt>
                    <li> <i class="fas fa-envelope fa-2x"></i> topnotchassignments@gmail.com </li>
                    <li><i class="fas fa-phone fa-2x"> </i> 01315-092766</li>
                    </ul>
                </div>




              

               
               
              </div>
            </div>
          </div>




    
       

           
          <!-- end single footer -->
         






        </div>
      </div>
    </div>
   
  </footer>

 

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/knob/jquery.knob.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="lib/appear/jquery.appear.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
   <script>
$({ Counter: 0 }).animate({
  Counter: $('.1').text()
}, {
  duration: 3000,
  easing: 'swing',
  step: function() {
    $('.1').text(Math.ceil(this.Counter));
  }
});



$({ Counter: 0 }).animate({
  Counter: $('.2').text()
}, {
  duration: 3000,
  easing: 'swing',
  step: function() {
    $('.2').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
  Counter: $('.3').text()
}, {
  duration: 3000,
  easing: 'swing',
  step: function() {
    $('.3').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
  Counter: $('.4').text()
}, {
  duration: 3000,
  easing: 'swing',
  step: function() {
    $('.4').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
  Counter: $('.5').text()
}, {
  duration: 3000,
  easing: 'swing',
  step: function() {
    $('.5').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
  Counter: $('.6').text()
}, {
  duration: 3000,
  easing: 'swing',
  step: function() {
    $('.6').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
  Counter: $('.7').text()
}, {
  duration: 3000,
  easing: 'swing',
  step: function() {
    $('.7').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
  Counter: $('.8').text()
}, {
  duration: 3000,
  easing: 'swing',
  step: function() {
    $('.8').text(Math.ceil(this.Counter));
  }
});

$({ Counter: 0 }).animate({
  Counter: $('.9').text()
}, {
  duration: 3000,
  easing: 'swing',
  step: function() {
    $('.9').text(Math.ceil(this.Counter));
  }
});


  </script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <script src="js/main.js"></script>



  <!-- GetButton.io widget -->
<!-- GetButton.io widget -->
<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v6.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your customer chat code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="101485288179531"
  theme_color="#67b868"
  logged_in_greeting="Hello! How may we help you sir?"
  logged_out_greeting="Hello! How may we help you sir?">
      </div>


      <div class="fb-customerchat"
 page_id="<PAGE_ID>">
</div>

<div class="mcwidget-embed" data-widget-id="9948056"></div>



<!-- whatsapp -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+8801315092766", // WhatsApp number
            call_to_action: "Message us", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /whatspp -->




 <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet">
</body>

</html>