

 
  <!-- End Slider Area -->

  <!-- Start About area -->
  <div id="about" class="about-area area-padding" style="background-color:white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2 style="color:#0C3C26">About Top Notch Assignments</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
								  <img src="img/about/1.jpg" alt="">
								</a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12" style="background-color:white">
          <div class="well-middle">
            <div class="single-well" style="background-color:white">
             
              <p style="color:#0C3C26">
                We are a group of experts who left their lucrative 9 to 5 job when we have discovered a huge opportunity in this service sector. 
Having a wonderful experience of delighting clients through top-class academic/ non academic, graphics designing & video editing for the last 7 years, we decide to go global.  
 We are here to bring color to your lives through our top-class and reliable service. We can easily take care of academic, content writing,  graphics designing and professional video editing needs with ease. 
Our writing, graphics designing and video editing crew had to go through competitive several test and other screening process to make we hire only the specialists for each genre of work- so with us you have a zero chance of shoddy work.  
We are always keen walk an extra mile for our clients- Your satisfaction is our ultimate priority. We are here to engage in profitable customer relationship-not just one time transaction. 
Contact us today to enjoy the best service ever 
              </p>
              
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
  <!-- End About area -->

 
