
  <!-- header end -->

  

  <!-- Faq area start -->
  <div class="faq-area area-padding" style="background-color: white; color:#0C3C26;">
    <div class="container-fluid" >
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2 style="color:#0C3C26">Faq Question</h2>
          </div>
        </div>
      </div>
      


      <div class="row">

     <div class="col-md-6" style="text-align: center">

asdsadsad


     </div>


      <div class="col-md-6" style="text-align: center">

<img src="sadsad">


     </div>


      </div>




      <div class="row jumbotron">

    


      <div class="col-md-6 " style="text-align: center">

<img src="sadsad">


     </div>

      <div class="col-md-6" style="text-align: center">

asdsadsad


     </div>


      </div>





      <div class="row">

     <div class="col-md-6" style="text-align: center">

asdsadsad


     </div>


      <div class="col-md-6" style="text-align: center">

<img src="sadsad">


     </div>


      </div>




      <div class="row jumbotron">

     


      <div class="col-md-6" style="text-align: center">

<img src="sadsad">


     </div>



     <div class="col-md-6" style="text-align: center">

asdsadsad


     </div>


      </div>
      <!-- end Row -->
    </div>
  </div>
  <!-- End Faq Area -->

  

  

 

