
  <!-- header end -->

  

  <!-- Faq area start -->
  <div class="faq-area area-padding" style="background-color: white; color:#0C3C26;">
    <div class="container-fluid" >
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2 style="color:#0C3C26">How It Works</h2>
          </div>
        </div>
      </div>
      


      <div class="row jumbotron" style="background-color: white">

     <div class="col-md-6" style="text-align: center">

    <h3 style="color:black">Contact with us either by Facebook messenger, Whatsapp, Email or any other method you find to be suitable. Our support team will connect to you as soon as possible.Then give us your requirements. We do not have any fixed specifications, and we are willing to do any kind of work within our ability.</h3>


     </div>


      <div class="col-md-6" style="text-align: center">

<img src="1.png" width="200px">


     </div>


      </div>




      <div class="row jumbotron">

    


      <div class="col-md-6 " style="text-align: center">

<img src="2.png" width="200px">


     </div>

      <div class="col-md-6" style="text-align: center">

<h3 style="color:black"> After examining your assignment request we will give you a custom quote indicating how much it will cost and how will it will take at minumum to complete the assignmnet. There are various factors which determine how much the assignment will cost, such as complexity and time limit.</h3>


     </div>


      </div>





      <div class="row jumbotron" style="background-color: white">

     <div class="col-md-6" style="text-align: center">

<h3 style="color:black"> If you accept our proposal then you will be required to make the necessary payments. You can do so by paypal, mastercard or Bkash. We will then verify that you have indeed made the payments and inform you that we have started to work on your assignment.</h3>


     </div>


      <div class="col-md-6" style="text-align: center">

<img src="3.png" width="200px">


     </div>


      </div>




      <div class="row jumbotron">

     


      <div class="col-md-6" style="text-align: center">

<img src="4.png" width="200px">


     </div>



     <div class="col-md-6" style="text-align: center">

<h3 style="color:black"> After the work is done we will send you the work either by Facebook messenger, Whatsapp, Email, Google drive or any other method you find suitable. We are open for as many revisions you want to be done on your work all for free.</h3>


     </div>


      </div>
      <!-- end Row -->
    </div>
  </div>
  <!-- End Faq Area -->

  

  

 

