

 

  <!-- Start Service area -->
  <div id="services" class="services-area area-padding" style="background-color: white; color:#0C3C26">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2 style="color:#0C3C26">Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="services-contents">
          <!-- Start Left services -->
          
       
          <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  
                    <h2>
                  <a class="services-icon " href="#">
                      <i class="fas fa-pencil-alt" style="font-size: 60px"></i>
                    </a>
                  </h2>

                  <h4 style="color:#0C3C26">Writing Services</h4>

                 
                  
                  <h5 style="color:#0C3C26"> Academic writing, article writing, case-studies, assignments, term papers, dissertations,
essays, research papers, research proposal, content writing, cv writing, cover letter writing</h5>
                </div>
              </div>
              <!-- end about-details -->
            </div>



<hr>




            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  
                    <h2>
                  <a class="services-icon " href="#">
                      <i class="fas fa-palette" style="font-size: 60px"></i>
                    </a>
                  </h2>

                  <h4 style="color:#0C3C26">Designing</h4>
                  
                  <h5 style="color:#0C3C26">
                   CV designing, logo designing, flier designing, business card designing, powerpoint presentations
                  
                </div>
              </div>
              <!-- end about-details -->
            </div>

<hr>

            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  
                    <h2>
                  <a class="services-icon " href="#">
                      <i class="fas fa-search" style="font-size: 60px"></i>
                    </a>
                  </h2>

                  <h4 style="color:#0C3C26">Proofreading And Paraphrasing</h4>
                  
                  
                  
                </div>
              </div>
              <!-- end about-details -->
            </div>

<hr>

          <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  
                    <h2>
                  <a class="services-icon " href="#">
                      <i class="fas fa-film" style="font-size: 60px"></i>
                    </a>
                  </h2>

                  <h4 style="color:#0C3C26">Video Editing</h4>

                 
                  
                 
                </div>
              </div>
              <!-- end about-details -->
            </div>



         
<hr>

            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  
                    <h2>
                  <a class="services-icon " href="#">
                      <i class="fas fa-ticket-alt" style="font-size: 60px"></i>
                    </a>
                  </h2>

                  <h4 style="color:#0C3C26">24/7 Support</h4>
                  
                  <h5 style="color:#0C3C26">
                    We ensure that our clients get 24/7 support.
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
        </div>
<hr>
        
    </div>
  </div>
  <!-- End Service area -->

  <!-- our-skill-area start -->
  <div class="our-skill-area fix hidden-sm" >
    <div class="test-overly"></div>
    <div class="skill-bg area-padding-2">
      <div class="container" style="font-family: fa5-proxima-nova normal">
        <!-- section-heading end -->
        <div class="row well">
          <div class="skill-text">


            <!-- single-skill start -->
          <div class="section-headline services-head text-center" style="margin-bottom: 20px">
            <h2 style="color:#0C3C26">Projects Completed</h2>
          </div>


            <div class="col-xs-12 col-sm-3 col-md-3 text-center well" style="margin-bottom: 20px">
              <div class="single-skill">
                <div class="progress-circular ">
                  <span class="1" style="font-size: 30px; color:#0C3C26">1000</span>
                  <h5 style="font-size: 30px; color:#0C3C26"> Dissertations </h5>
                </div>
              </div>
            </div>




            <div class="col-xs-12 col-sm-3 col-md-3 text-center well" style="margin-bottom: 20px">
              <div class="single-skill">
                <div class="progress-circular ">
                  <span class="2" style="font-size: 30px; color:#0C3C26">1000</span>
                  
                  <h5 style="font-size: 30px; color:#0C3C26"> Research Papers </h5>
                </div>
              </div>
            </div>


             <div class="col-xs-12 col-sm-3 col-md-3 text-center well" style="margin-bottom: 20px">
              <div class="single-skill">
                <div class="progress-circular ">
                  <span class="3" style="font-size: 30px; color:#0C3C26">600</span>
                  <h5 style="font-size: 30px; color:#0C3C26"> Assignments </h5>
                </div>
              </div>
            </div>



             <div class="col-xs-12 col-sm-3 col-md-3 text-center well" style="margin-bottom: 20px">
              <div class="single-skill">
                <div class="progress-circular ">
                  <span class="4" style="font-size: 30px; color:#0C3C26">499</span>
                  <h5 style="font-size: 30px; color:#0C3C26"> Essays</h5>
                </div>
              </div>
            </div>


             <div class="col-xs-12 col-sm-3 col-md-3 text-center well" style="margin-bottom: 20px">
              <div class="single-skill">
                <div class="progress-circular ">
                  <span class="5" style="font-size: 30px; color:#0C3C26">799</span>
                  <h5 style="font-size: 30px; color:#0C3C26"> CV Making </h5>
                </div>
              </div>
            </div>



             <div class="col-xs-12 col-sm-3 col-md-3 text-center well" style="margin-bottom: 20px">
              <div class="single-skill">
                <div class="progress-circular ">
                  <span class="6" style="font-size: 30px; color:#0C3C26">1300</span>
                  <h5 style="font-size: 30px; color:#0C3C26"> Graphics Designing </h5>
                </div>
              </div>
            </div>


             <div class="col-xs-12 col-sm-3 col-md-3 text-center well" style="margin-bottom: 20px">
              <div class="single-skill">
                <div class="progress-circular ">
                  <span class="7" style="font-size: 30px; color:#0C3C26">700</span>
                  <h5 style="font-size: 30px; color:#0C3C26"> Video Editing </h5>
                </div>
              </div>
            </div>


             <div class="col-xs-12 col-sm-3 col-md-3 text-center well" style="margin-bottom: 20px">
              <div class="single-skill">
                <div class="progress-circular ">
                  <span class="8" style="font-size: 30px; color:#0C3C26">644</span>
                  <h5 style="font-size: 30px; color:#0C3C26"> Business Cards </h5>
                </div>
              </div>
            </div>


             <div class="col-xs-12 col-sm-3 col-md-3 text-center well" style="margin-bottom: 20px"> 
              <div class="single-skill">
                <div class="progress-circular ">
                  <span class="9" style="font-size: 30px; color:#0C3C26">1300</span>
                  <h5 style="font-size: 30px; color:#0C3C26"> Proofreading </h5>
                </div>
              </div>
            </div>



            <!-- single-skill end -->
            <!-- single-skill start -->
          
            <!-- single-skill end -->
            <!-- single-skill start -->
           
            <!-- single-skill end -->
          
            <!-- single-skill end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- our-skill-area end -->

  

 